.petCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

.petCard {
  border: 1px solid #ccc;
  border-radius: 15px; /* Reduje el radio de las esquinas para que se vea más estético */
  padding: 20px; /* Ajusté el padding para que las tarjetas no se vean tan grandes */
  width: 250px;
  text-align: center;
  background-color: #eee8e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 350px;
}

.CardImg {
  width: 100%; /* Hice que la imagen ocupe el 100% del contenedor */
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 10px;
}

.Cardh1 {
  margin-bottom: 15px; /* Reduje el margen inferior para mejorar la proporción */
  font-size: 1.2em;
}

.Cardh2 {
  margin-top: 10px; /* Reduje el margen superior para mejorar la proporción */
  font-size: 0.9em;
}