.petCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
}

.petCard {
  border: 1px solid #ccc;
  border-radius: 15px; 
  padding: 20px; 
  width: 250px;
  text-align: center;
  background-color: #eee8e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 350px;
}

.CardImg {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 10px;
}

.Cardh1 {
  margin-bottom: 15px; 
  font-size: 1.2em;
}

.Cardh2 {
  margin-top: 10px; 
  font-size: 0.9em;
}
